# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
coverage/
**/doc/api/
**/android/local.properties
**/android/key.properties
**/ios/Flutter/ephemeral/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class
*.jar
*.war
*.ear

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
